.pageContainer {
    padding: 100px;
    .title {
        text-align: center;
    }
}

.linkCon {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}
